<div class="container1">      
  <main>       
    <article>

      <h3 *ngIf="!enableButton && !enableResults">Search for an existing patient</h3>
      <h3 *ngIf="enableResults">Search Results for {{searchValue.URNumber}} {{searchValue.firstName}} {{searchValue.surName}}</h3>
      <h3 *ngIf="enableButton">No Patients found for {{searchValue.URNumber}} {{searchValue.firstName}} {{searchValue.surName}}</h3>
      <div class="text-center margin">


        <!-- <form class="form-search" [formGroup]="testForm" (ngSubmit)="onSubmit(testForm.value)">
          <div *ngIf="enableSearch">
            <input title="dataTesting" type="search" placeholder="Enter patient UR Number..." formControlName="hNo"/>
            <p>Or</p>
            <input title="dataTesting" type="search" placeholder="Enter patient First Name..." formControlName="fName"/>
            <input title="dataTesting" type="search" placeholder="Enter patient Surname..." formControlName="sName"/>
            <p>Only one text field is required for a search</p>
            <button class="button" type="submit">Search</button><br>
          </div>
          <div *ngIf="enableButton">
            <img src="../../assets/images/notFound.png"><br>
            <h4>Patient not found!</h4>
            <p>
              We are unable to find this patient on our system.
            </p>
            <p>
              If you'd like to add a new patient, please click the 'Add New Patient' button below
              or try searching again.
            </p>
            <a [routerLink]="'/dashboard/files/addPatient'" title="test">
              <button class="button" type="submit">Add New Patient</button></a><br>
            <button (click)="returnSearch();" class="button" type="submit">Try a different search</button>
          </div>
        </form> -->

        <form class="form-search" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.form)">
          <div *ngIf="enableSearch">
            <input id="URNumber" (change)="inputSearch(1)" type="search" placeholder="Enter patient UR Number..." name="URNumber" ngModel #URNumberField="ngModel"/>
            <p>Or</p>
            <input id="firstName" (change)="inputSearch(2)" type="search" placeholder="Enter patient First Name..." name="firstName" ngModel #firstNameField="ngModel"/>
            <input id="surName"(change)="inputSearch(2)" type="search" placeholder="Enter patient Surname..." name="surName" ngModel #surNameField="ngModel"/>
            <p>Only one text field is required for a search</p>
            <button class="button" type="submit">Search</button><br>
          </div>
          <div *ngIf="enableButton">
            <img src="../../assets/images/notFound.png"><br>
            <h4>Patient not found!</h4>
            <p>
              We are unable to find this patient on our system.
            </p>
            <p>
              If you'd like to add a new patient, please click the 'Add New Patient' button below
              or try searching again.
            </p>
            <a [routerLink]="'/addPatient'" title="test">
              <button class="button" type="submit">Add New Patient</button></a><br>
            <button class="button" (click)="diffSearch()">Try a different search</button>
          </div>
        </form>

        <div *ngIf="enableResults" class="form-search">
          <h4></h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>UR Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of searchResults">
                <td>{{item.urnumber}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.surName}}</td>
                <!-- date is being parsed as a string to remove the time i am removing past the T in said string as other options have failed me -->
                <td>{{item.dob.split('T')[0]}}</td>
                <td><a [routerLink]="['/viewPatient']" (click)="passPatient(item)"><button class="button">View</button></a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </article>
  </main>      
</div>
