
<app-login *ngIf="!this.loggedIn"></app-login>
<div *ngIf="this.loggedIn" class="container1">
    <nav role="navigation" *ngIf="true">
        <ul class="nav-items">
             <!-- <li *ngIf="this.router.url !== '/'" class="nav-link back" (click)="goBack()">Back</li>  -->
            <!-- <a [routerLink]="''"><li class="nav-link">Home</li></a> -->
            <a [routerLink]="'files'"><li class="nav-link">Patient Files</li></a>
<!--             <a [routerLink]="'library'"><li class="nav-link">Library</li></a>
            <a [routerLink]="'resources'"><li class="nav-link">Resources</li></a> -->
            <a *ngIf="this.isAdmin" [routerLink]="'staffFiles'"><li class="nav-link">Staff Files</li></a>
            <a [routerLink]="'files'"><li class="nav-link" (click)="logout()">Logout</li></a>
        </ul>
    </nav>
      
      <main>
          <img src="../assets/logo.svg" alt="Northern health logo" class="logo"/>
          <article>
            
              <router-outlet> </router-outlet>

          </article>
      </main>      
</div>
