<div class="container1">
      
      <main>
          <article>

            <div class="container text-center margin">
                <div class="row">
    
                    <div class="col-sm-6">
                        <a [routerLink]="'/categories'" title="Search">
                            <img src="../../assets/images/categories.png" style="width:275px; height:250px;" class="thumbnail img-responsive danger"/></a>
                            <p style="padding: 5px;">Categories</p>
                        </div>
                    <div class="col-sm-6 ">
                        <a [routerLink]="'dashboard/files/addPatient'" title="Image 1">
                            <img src="../../assets/images/measurements.png" style="width:275px; height:250px;" class="thumbnail img-responsive" /></a>
                            <p style="padding: 5px;">Measurements</p>
                    </div>
                </div>
            </div>
              

          </article>
      </main>      
</div>

