<div class="container1">      
      <main>
        <h1>Patient Files</h1>
      
          <article>

            <div class="container text-center margin">
                
    
                <div class="row">
    
                    <div class="col-sm-6">
                        <a [routerLink]="'/searchPatient'">
                            <img src="../../assets/images/search2.png" style="width:275px; height:250px;" class="thumbnail img-responsive danger"/></a>
                            <p>Search for a Patient</p>
                    </div>
                    <div class="col-sm-6 ">
                        <a [routerLink]="'/addPatient'">
                            <img src="../../assets/images/newPatient.png" style="width:250px; height:250px;" class="thumbnail img-responsive" /></a>
                            <p>Add a Patient</p>
                    </div>
                </div>
            </div>
              

          </article>
      </main>      
</div>

