<div class="container">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="1920" height="1080">
      <g id="Group_26" transform="translate(0 -15)" data-name="Group 26">
        <g class="cls-11" id="Path_144" transform="translate(520 252)" data-name="Path 144">
          <path class="cls-15" d="M 1282.5 181.5 L 0.5 181.5 L 0.5 0.5 L 1282.5 0.5 L 1282.5 181.5 Z" />
          <path class="cls-17" d="M 1 1 L 1 181 L 1282 181 L 1282 1 L 1 1 M 0 0 L 1283 0 L 1283 182 L 0 182 L 0 0 Z" />
        </g>
       <!-- here we will call the API to display how many new alerts--> <text class="cls-12" id="You_have_6_new_alerts" transform="translate(709 359)" data-name="You have 6 new alerts"><tspan x="0" y="0">You have 6 new alerts</tspan></text>
        <path class="cls-13" id="Icon_ionic-ios-close" transform="translate(1728.71 264.711)" d="M 29.84 26.289 L 40.555 15.571 A 2.511 2.511 0 0 0 37 12.019 L 26.289 22.737 L 15.574 12.019 a 2.511 2.511 0 1 0 -3.551 3.552 L 22.738 26.289 L 12.024 37.006 a 2.511 2.511 0 1 0 3.551 3.552 L 26.289 29.84 L 37 40.558 a 2.511 2.511 0 1 0 3.551 -3.552 Z" data-name="Icon ionic-ios-close" />
    <!--a href is the link to the view alerts component--><a href><rect class="cls-13" id="Rectangle_77" transform="translate(1508 362)" width="262" height="59" rx="25" data-name="Rectangle 77" />
        <text class="cls-14" id="View_Alerts" transform="translate(1556 404)" data-name="View Alerts"><tspan x="0" y="0">View Alerts</tspan></text></a>
        <path class="cls-13" id="Icon_ionic-md-alert" transform="translate(576 290)" d="M 53.375 3.375 a 50 50 0 1 0 50 50 A 50.147 50.147 0 0 0 53.375 3.375 Z m 5.769 75 H 47.606 V 68.76 H 59.144 Z m 0 -21.154 H 47.606 V 26.452 H 59.144 Z" data-name="Icon ionic-md-alert" />
      </g>
  </svg>
</div>